  /* Estilos para la leyenda de asientos */
  .legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Estilo para cada elemento de la leyenda */
  .legend-item {
    display: flex;
    align-items: center; /* Centrar verticalmente el texto y el color */
    margin: 0 15px; /* Espacio entre las leyendas */
    font-size: 14px; /* Tamaño de texto para la leyenda */
  }
  
  .legend-item div {
    width: 20px; /* Ancho del color de estado */
    height: 20px; /* Alto del color de estado */
    border-radius: 5px; /* Bordes redondeados */
    margin-right: 8px; /* Espacio entre el color y el texto */
  }
  
  /* Colores para la leyenda */
  .legend-item.available div {
    background-color: #28a745; /* Verde para Disponible */
  }
  
  .legend-item.occupied div {
    background-color: #dc3545; /* Rojo para Ocupado */
  }
  
  .legend-item.selected div {
    background-color: #007bff; /* Azul para Seleccionado */
  }
  .reservation-message {
    margin-top: 15px;
    padding: 10px;
    background-color: #28a745; /* Verde para éxito */
    color: white;
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
  }