<div class="content">
    <h2>Certificaciones</h2>
    
    <form>
      <!-- Campo para el nombre del certificado -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre del Certificado</mat-label>
        <input matInput type="text" [(ngModel)]="nombreCertificado" name="nombreCertificado">
      </mat-form-field>
      
      <!-- Campo para la fecha de obtención -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha de Obtención</mat-label>
        <input matInput type="date" [(ngModel)]="fechaObtencion" name="fechaObtencion">
      </mat-form-field>
      
      <!-- Checkbox para indicar si el certificado tiene vencimiento -->
      <mat-checkbox [(ngModel)]="vencimientoChecked" name="vencimiento">Certificado con vencimiento</mat-checkbox>
      
      <!-- Campo para la fecha de vencimiento -->
      <mat-form-field appearance="outline" class="full-width" *ngIf="vencimientoChecked">
        <mat-label>Fecha de Vencimiento</mat-label>
        <input matInput type="date" [(ngModel)]="fechaVencimiento" name="fechaVencimiento">
      </mat-form-field>
    </form>
  </div>