<mat-toolbar color="primary">
  <h2>Fichas Dueños</h2>
</mat-toolbar>
<table>
  <thead>
    <tr>
      <th>Estacionamiento</th>
      <th>Nombre Dueño</th>
      <th>Correo Electrónico</th>
      <th>Valor</th>
      <th>Disponibilidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dueno of duenos">
      <td>{{ dueno.estacionamiento }}</td>
      <td>{{ dueno.nombre }}</td>
      <td>{{ dueno.correo }}</td>
      <td>{{ dueno.valor | currency }}</td>
      <td>{{ dueno.disponibilidad }}</td>
    </tr>
  </tbody>
</table>
