<!-- home.component.html -->
<div class="title-container">
    <h1>Login</h1>
  </div>
  
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="thalia perez ">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <textarea matInput placeholder="12345"></textarea>
    </mat-form-field>
  
    
    <!-- Enlace Recuperar contraseña -->
    <div class="signup-link">
      <a routerLink="/Recuperar">Recupera tu contraseña</a>
    </div>
  </form>
  
  
  