<!-- home.component.html -->
<div class="title-container">
    <h1>Login</h1>
  </div>
  
  <form class="example-form">

    <!-- Input de usuario -->
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]="usuario" name="usuario" required />
    </mat-form-field>
   
    <!-- Validación para el input de usuario en blanco -->
    <p *ngIf="attemptedLogin && !usuario" style="color: rgba(255, 0, 0, 0.632);">
      Usuario es obligatorio.
    </p>
    
    <!-- Input de clave -->
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput [(ngModel)]="clave" name="clave" type="password" required />
    </mat-form-field>
    
    <!-- Validación para el input de clave en blanco -->
    <p *ngIf="attemptedLogin && !clave" style="color: rgba(255, 0, 0, 0.632);">
      Clave es requerida.
    </p>
    
    <!-- Validación para el input de clave con un mínimo 6 caracteres -->
    <p *ngIf="attemptedLogin && clave.length < 6" style="color: rgba(255, 0, 0, 0.632);">
      La clave debe tener al menos 6 caracteres.
    </p>

    <!-- Botón para iniciar sesión -->
    <button mat-raised-button color="primary" (click)="login()">Iniciar Sesión</button>

    <!-- Botón para registrar usuario -->
    <div class="example-label">¿No tienes cuenta?</div>
    <div class="example-button-row">
      <button mat-stroked-button routerLink="/registrar">Registrate aquí</button>
    </div>

    <!-- Enlace Recuperar contraseña -->
    <div class="signup-link">
      <p>¿Olvidaste tu contraseña?</p>
      <p>Click <a routerLink="/recuperar">aquí</a></p>
    </div>
    
  </form>
  
  
  