@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


/* Centrado del contenedor principal con margen */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos de la tarjeta de login */
mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

mat-card-title {
  font-size: 34px; /* Tamaño del título */
  font-weight: bold; /* Negrita */
  margin-top: 20px; /* Espacio arriba del título */
  margin-bottom: 20px; /* Espacio debajo del título */
  text-align: center; /* Centrar el texto */
  margin-bottom: 20px;
}


/* Estilos de los elementos del formulario */
mat-form-field {
  width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
}



/*----------Botones----------*/

.iniciar-button {
  margin-top: 20px;
  width: 100%; /* Botón ocupa todo el ancho */
  font-size: 18px; /* Tamaño de texto en el botón */
  text-align: center; /* Centrar el texto */
}


.otros-button {
  width: 50%; /* Botón ocupa todo el ancho */
  margin-top: 80px; /* Espacio encima del botón */
  font-size: 18px; /* Tamaño de texto en el botón */
  text-align: center; /* Centrar el texto */
  padding: 25px 0;
}


/*----------Imagen----------*/
.logo {
  width: 150px; /* Cambia este valor según el tamaño que desees */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Para que no haya espacio adicional debajo de la imagen */
  margin: auto; /* Centra la imagen si es necesario */
}




