<html>
  <mat-toolbar color="primary">
    <h2>Lista de Usuarios</h2>
  </mat-toolbar>

  <form (ngSubmit)="editingUser ? saveUser() : addUser()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="newUser.name" name="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Comentario</mat-label>
      <textarea matInput [(ngModel)]="newUser.comment" name="comment"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="accent" type="submit">
      {{ editingUser ? 'Guardar Cambios' : 'Enviar comentario' }}
    </button>
  </form>

  <form (ngSubmit)="editingUser ? saveUser() : addUser()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="newUser.name" name="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Comentario</mat-label>
      <textarea matInput [(ngModel)]="newUser.comment" name="comment"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="accent" type="submit">
      {{ editingUser ? 'Guardar Cambios' : 'Enviar comentario' }}
    </button>
  </form>
  
  <br>
  
  <mat-list>
    <mat-list-item *ngFor="let user of users">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <p>ID: {{ user.id }}</p>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
          <p>Comentario: {{ user.comment }}</p>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="updateUser(user)">Actualizar</button>
            <button mat-raised-button color="warn" (click)="deleteUser(user.id)">Eliminar</button>
          </mat-card-actions>
        </mat-card-header>
      </mat-card>
    </mat-list-item>
  </mat-list>
</html>