/* Estilos para la barra de herramientas (mat-toolbar) */
mat-toolbar {
  background-color: #1976d2; /* Color primario */
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 10px;
  h2 {
    margin: 0;
  }
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espacio entre los elementos */
  margin: 20px ;
  
  mat-form-field {
    width: 100%; /* El campo toma todo el ancho */
  }
  button {
    align-self: flex-end; /* Alinear botón a la derecha */ 
  }
}


/* ------------------- comentario ------------------- */

/* Estilos para las tarjetas de comentarios */
mat-list {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espacio entre las tarjetas */
}

mat-list-item {
  width: 100%;
  margin: 10px 0; /* Espacio entre las tarjetas */
}

mat-card {
  display: block; /* Asegura que el mat-card se expanda */
  word-wrap: break-word; /* Divide palabras largas automáticamente */
  white-space: pre-wrap; /* Conserva los saltos de línea */
  max-width: 600px; /* Limita el ancho máximo de la tarjeta */
  width: auto; /* Permite que el tamaño se adapte al contenido */
  }

/* Estilo para el subtítulo del comentario */
mat-card-subtitle {
  margin-top: 10px; /* Espacio superior externo */
  font-size: 0.9rem; /* Tamaño del subtítulo */
  }  

mat-card-content {
  white-space: pre-wrap; /* Conserva los saltos de línea y adapta el texto */
  font-size: 0.9rem;
  color: #333;
  }
  
  
  

