<mat-toolbar color="primary">
  <h2>Lista de Comentarios</h2>
</mat-toolbar>

<!-- Formulario para agregar un nuevo comentario -->
<form (ngSubmit)="addComment()">
  <mat-form-field appearance="fill">
    <mat-label>Comentario</mat-label>
    <textarea matInput [(ngModel)]="newComment.content" name="content" required></textarea>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit">
    Agregar nuevo comentario
  </button>
  
  <!-- Botón para cargar los comentarios -->
  <button mat-raised-button color="primary" (click)="loadComments()">
    Cargar Comentarios
  </button>
</form>

<br>


<br><br>

<!-- Lista de comentarios -->
<mat-list>
  <mat-list-item *ngFor="let comment of comments">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ comment.content }}</mat-card-title>
        <p>ID: {{ comment.id }}</p>
      </mat-card-header>
      <mat-card-actions>
        <!-- Aquí podrían ir otros botones si fuera necesario, como 'Actualizar' o 'Eliminar' -->
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list>
